@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply text-text-color font-[Poppins,system-ui,sans-serif];
  }
  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .container {
    @apply px-4 mx-auto xl:max-w-[64rem];
  }
}

@theme {
  --color-primary: #59f100;
  --color-primary-light: #dbffc5;
  --color-primary-lightest: #bafc93;
  --color-primary-dark: #53e100;
  --color-primary-darkest: #42b200;
  --color-text-color: #222222;
  --color-text-color-light: #777777;

  --spacing-header-h: 75px;
  --spacing-section-p: 80px;

  --animate-point-right: point-right 0.5s alternate infinite ease-in;

  @keyframes point-right {
    to {
      transform: translateX(5px);
    }
  }
}

